/* stylesheet sub.css */


.mdl-layout{
    background: url('../img/bg-neuron.jpg');
    /*background: url('http://www.toca-ch.com/data/walls/127/25966247.jpg');*/
    /*background: url('http://bsnscb.com/data/out/22/39154080-blackboard-wallpapers.jpg');*/
    /*background: url('img/bg-backboard.jpg');*/
    /*background-color: #003B3B;*/
    background-size: cover;
    background-position: center center;
}
#mishima2018.mdl-card{
    width: 100%;
    height: 100%;
    /*background-size: cover;*/
    /*background-position: center;*/
    background: url('../img/cover-fmd.png') center / cover;
}
#jsh2016.mdl-card{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background: url('../img/cover-jfmd.png') center / cover;
}