/*main.css*/

/*main.css*/

h1, h2, h3, h4, h5, h6, p, a, b, u, li, th td, span, nav{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: white;
    /*color: #601A97;*/
}
.mdl-layout{
    /*background: url('/img/bg-neuron.jpg');*/
    /*background: url('http://www.toca-ch.com/data/walls/127/25966247.jpg');*/
    /*background: url('http://bsnscb.com/data/out/22/39154080-blackboard-wallpapers.jpg');*/
    /*background: url('img/bg-backboard.jpg');*/
    background: url('http://cbs.fas.harvard.edu/usr/connectome/brainbow/hippoc-cortex_less-red_final.jpg');
    /*background-color: black;*/
    /*background-color: #E8E8E8;*/
     /*#601A97;*/
    background-size: cover;
    background-position: center center;
}
.mdl-card{
	background-color: rgba(250, 250, 250, 0.3);
}